{% extends "Employee_base.html" %}
{% load static %}

{% block content %}
<div class="container" >
    <div style="padding: 25px 50px 50px 100px; ">
        <div style="border-style: solid; background-color: 	#f3f0f0;">
            <br>
            <div style="padding: 25px 50px 75px 100px;">
                <h2>Check For Student</h2><br>
                <form class="d-flex" method="GET">
                    <input class="form-control col-10 me-2" type="search" placeholder="Mobile Number" aria-label="Search">
                    <button class="btn btn-success" type="submit">Check Enquiry</button>
                  </form>
            </div>
        </div>
    </div>
   

</div>
{% endblock %}