{% extends "Employee_base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div style="padding: 25px 50px 75px 100px;">
<table class="table table-striped" >
    <tr>
        <th>
            #
        </th>
        <th>
            Enquiry Name
        </th>
        <th>
            Mobile number
        </th>
        <th>
            Email ID
        </th>
        <th>
            Handeled by
        </th>
    </tr>
    <tr>
        <td>
            1
        </td>
        <td>
            Hansika
        </td>
        <td>
            038491347394
        </td>
        <td>
            hansika@motwani.com
        </td>
        <td>
            Sara
        </td>
    </tr>
    <tr>
        <td>
            2
        </td>
        <td>
            Deepika
        </td>
        <td>
            03849394
        </td>
        <td>
            deepika@padukone.com
        </td>
        <td>
            Tara
        </td>
    </tr>
    
    
  </table>
  </div>
  </div>
{% endblock %}